# File: .github/workflows/workflow.yml

on:
 workflow_dispatch

name: CredScan-Demo-with-Azure-Key-Vault

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
     CREDSCAN: true
    strategy:
            matrix:
              node_version: ['12']
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.FOR_DEMO }}
    
    - name: Azure CLI script
      uses: milidoshi26/CLI@demotest
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az keyvault secret set --vault-name "MiliD" --name "CommonPassword" --value "P0rsche911"
          az keyvault secret show --name "SlackToken" --vault-name "MiliD" --query "value"
