# File: .github/workflows/workflow.yml

on:
 workflow_dispatch

name: CredScan-Demo-with-Azure-Key-Vault

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
     CREDSCAN: true
    strategy:
            matrix:
              node_version: ['12']
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.FOR_DEMO }}
    
    - name: Azure CLI script
      uses: milidoshi26/CLI@newfinal
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az keyvault secret set --vault-name "MiliD" --name "CommonPassword2" --value "P0rsche911"
          az keyvault secret show --name "CommonPassword2" --vault-name "MiliD" --query "value"
          s="xoxp\-sut9wktw962fpm25l-p1q\plocdvar8tjfkmj\y0b0miu3e8142mhz2oi23dfu1oylf5alzj8q64xpzjk0rr0tw1g5a7"
          printf %b\n $s
          t='<add key="ConnectionString" value="server=tcp:ZYXWVU_1.database.windows.net;database=ZYXWVU_1;user=ZYXWVU_1;password=ZYXWVU_2;"/>'
          printf %b\n $t
