# File: .github/workflows/workflow.yml

on:
 workflow_dispatch

name: AzureCLISample

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
            matrix:
              node_version: ['10', '12', '14']
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Azure CLI script
      uses: milidoshi26/CLI@demo
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az keyvault secret set --vault-name "MiliD" --name "SlackToken" --value "xoxp\-sut9wktw962fpm25l-p1q\plocdvar8tjfkmj\y0b0miu3e8142mhz2oi23dfu1oylf5alzj8q64xpzjk0rr0tw1g5a7"
          az keyvault secret show --name "SlackToken" --vault-name "MiliD" --query "value"
