# File: .github/workflows/workflow.yml

on: [push]

name: AzureCLISample

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
            matrix:
              node_version: ['12', '14']
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Azure CLI script
      uses: milidoshi26/CLI@releases/v0-beta
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az account show
          az storage -h
